[include]
    path = ~/.gitconfig-dle

[includeIf "hasconfig:remote.origin.url:git@gitlab.dle.afrl.af.mil"]
    path = ~/.gitconfig-dle

[includeIf "hasconfig:remote.origin.url:git@github.com"]
    path = ~/.gitconfig-github

[core]
    editor = nvim
    excludesfile = ~/.gitignore
	preloadIndex = true
[rerere]
    enabled = true
[column]
    ui = row
[branch]
    sort = -committerdate
[maintenance]
    auto = true
[init]
    defaultBranch = master
[pull]
    rebase = true
[alias]
    wta = worktree add
    wtl = worktree list
    wtr = worktree remove
