[user]
	email = Derrekito@users.noreply.github.com
	name = Derrek Landauer
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[rerere]
	enabled = true
[column]
	ui = row
[branch]
	sort = -committerdate
[maintenance]
	repo = /home/derrekito/Projects/RADCAST
[init]
	defaultBranch = master
